$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  .cart-items {
    max-width: 75% !important;
  }

  .cart-summary {
    max-width: 25% !important;
    padding-left: 1rem;
  }

  .checkout-summary {
    max-width: 25% !important;
    padding-left: 1rem;
  }
}
